<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <title>Document</title>
    <link rel="stylesheet" href="../../assets/style.css" />
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
  <header>
    <nav>
      <div>
        <img src="../../assets/img/logo.svg" alt="" class="header__logo img-d">
      </div>
      <div class="nav">
          <img src="../../assets/img/logo.svg" alt="" class="header__logo">
          <ul>
              <li><a href="../../index.html"> صفحه اصلی</a></li>
              <li><a href="#">درباره ما</a></li>
              <li><a href="contact-us.html">تماس با ما</a></li>
              <li><a href="membership.html">عضویت داروخانه ها</a></li>
              <li class="a-d-none"><a href="#" class="a-d-none">قوانین و شرایط</a></li>
          </ul>
          <button class="push-left button-d-none" ><p> دانلود درمانیتو</p></button>
      </div>

      <div id="mySidepanel" class="sidepanel">
        <img src="../../assets/img/logo.svg" alt="logo" class="sidepanel__img">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
        <a href="../../index.html" class="a-margin sidepanel__link active">صفحه اصلی</a>
        <a href="membership.html" class="sidepanel__link">عضویت در داروخانه ها</a>
        <a href="#" class="sidepanel__link">درباره ما</a>
        <a href="custom.html" class="sidepanel__link">تماس باما</a>
        <a href="FAQ.html" class="sidepanel__link">سوالات متداول</a>
        <a href="#" class="a-border sidepanel__link">قوانین و شرایط</a>
        <a href="#" class="sidepanel__link">
            <button class="a-btn">دانلود مستقیم درمانیتو</button>
        </a>
      </div>
      
      <button class="openbtn" onclick="openNav()">☰</button>
  </nav>
</header>
    <section class="contact-us">
        <div class="question__title">
            <h1>تماس باما</h1>
        </div>
        <div class="contact-us__information">
            <div class="contact-us__information__form">
                <form action="post">
                    <p>نام و نام خانوادگی</p>
                    <input type="text" placeholder="ایمیل یا شماره همراه">
                    <p>ایمیل یا شماره همراه</p>
                    <input type="text" placeholder="ایمیل یا شماره همراه">
                    <p>پیام شما</p>
                    <textarea placeholder="ایمیل یا شماره همراه"></textarea>
                    <button>ارسال پیام</button>
                </form>
            </div>
            <div class="contact-us__information__map">
                <div class="map__infobox">
                    <div class="map__infobox--right">
                      <div>
                        <p>ایمیل</p>
                        <h3>info@nahiraTech.com</h3>
                      </div>  
                      <div>
                        <p>شماره ثابت</p>
                        <h3>۰۲۱-۴۴۲۱۹۶۷۱</h3>
                      </div>
                    </div>
                    <div class="map__infobox--left">
                        <p><strong> آدرس</strong></p>
                        <p class="map__infobox--left__text">تهران، طرشت، خیابان شهید چوب تراش، خیابان شهید حسین مردی ، بن‌بست پنجم، پلاک 15، واحد 1</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="support">
        <div class="support__information">
          <h3 class="support__header--desktop"> پشتیبانی درمانیتو</h3>
          <h3 class="support__header--phone">پشتیبانی درمانیتو</h3>
          <p>پاسخگویی در روزهای کاری از 9 صبح تا 9 شب</p>
        </div>
        <img src="../../assets/img/support-phone-number.svg" alt="support-phone-number" /> 
    </section>
      <footer>
        <section class="footer">
          <div class="footer__info">
            <img src="../../assets/img/logo.svg" alt="logo" />
            <h3>سوپر اپلیکیشن حوزه درمان و سلامت</h3>
            <p>
              تمام حقوق مادی و معنوی این وبسایت متعلق به <br />
              درمانیتو است
            </p>
            <div class="footer__info__social">
              <img src="../../assets/img/linkedin.svg" alt="linkedin" />
              <img src="../../assets/img/twitter.svg" alt="twitter" />
              <img src="../../assets/img/instagram.svg" alt="instagram" />
            </div>
          </div>
          <div class="footer__service footer__display--block">
            <h3>خدمات درمانیتو</h3>
            <ul>
              <li class="footer__service__li--border">داروخانه آنلاین</li>
              <li>فروشگاه آنلاین</li>
              <li>ویزیت آنلاین</li>
              <li>پرونده پزشکی</li>
            </ul>
          </div>
          <div class="footer__pages footer__display--block">
            <h3>صفحات درمانیتو</h3>
            <ul>
              <a href="contact-us.html"><li>تماس باما</li></a>
              <li>درباره ما</li>
              <a href="FAQ.html"><li>سوالات متداول</li></a>
              <li>قوانین و شرایط</li>
            </ul>
          </div>
          <div class="footer__download footer__display--block">
            <h3>دانلود درمانیتو</h3>
            <div>
              <img src="../../assets/img/black-bazar.svg" alt="black-bazar" />
              <img src="../../assets/img/sib-app-black.svg" alt="sib-app-black" />
            </div>
          </div>
        </section>
      </footer>
</body>
  <script src="../js/script.js"></script>
</html>